{% load url from future %}

<div id="topbar">
    <div class="navbar">
        <div class="navbar-side navbar-left"></div>
        <div class="navbar-content">
            {% if user.is_authenticated %}

                <a href="{{% url 'django.contrib.auth.views.logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>

            {% endif %}
        </div>
        <div class="navbar-side navbar-right"></div>
    </div>
</div>